.btns-coins {
    display: flex;
    justify-content: start;
    gap: 30px;
    padding: 10px;
}
.btns-coins .ant-select {
    height: 34.4px;
}
.ant-btn {
    p {
        margin-bottom: 0;
    }
}
.modal-content {
    margin-right: 20px;
    max-width: 500px;
}
